body
{
    width: 100%;
    margin: auto;
    padding: 0;
}

.corps{
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction:column;


}

.grille{
    display: grid;
    grid-template-rows: 0fr 39fr 4fr;
}

#c1{
    position: sticky;
    grid-column: 1/-1;
    top: 0;
    align-self: start;
}

.arbo{
    padding: 10px;
    display: block;
    width: 100%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    cursor: default;
}

.arbo a{
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.arbo a:hover{
    text-decoration: underline;
}

h2{
    align-self: flex-start;
    color: rgb(34, 34, 34);
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin-left: 10%;
    margin-top: 1%;
    cursor: default;
}

h4{
    align-self: flex-start;
    color: rgb(34, 34, 34);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 10.1%;
    margin-top: 1%;
    cursor: default;
    font-weight: 200;
}

hr.solid {
    border-top: 3px solid #2eaadd;
    width: 80%;
    margin-top: 1.3%;
}

.article{
    display: flex;
    flex-direction: row;
    background-color: #e9e9e9;
    height: 9.5%;
    width: 65%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 5px;
    cursor: default;
    box-shadow: -10px 10px 3px 1px #d1d1d1;
    transition: all 0.7s;
}

.article:hover{
    box-shadow: -10px 10px 3px 1px #abbdd3;
    transition: all 0.7s;
}


#a1{
    margin-top: 4%;
}

.ssArticle{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.article h1, h3, p{
    font-family: 'Roboto', sans-serif;
}

.ssArticle h1{
    font-size: 29px;
    align-self: center;
    text-align: center;
    text-decoration: underline;
}

.ssArticle > h3{
    font-size: 20px;
    align-self: center;
    text-align: center;
    font-weight: normal;
}

.lireLarticle1, .lireLarticle2, .lireLarticle3, .lireLarticle4, .lireLarticle5, .lireLarticle6, .lireLarticle7, .lireLarticle8{
    display: flex;
    flex-direction: row;
    align-self: center;
    border-radius: 5px;
    width: 10em;
    height: 2.5em;
    background: #2eaadd;
    border: 2px solid #2eaadd;
    color: #fff;
    transition: all 0.3s;
    cursor: pointer;

}

.lireLarticle1:hover, .lireLarticle2:hover, .lireLarticle3:hover, .lireLarticle4:hover, .lireLarticle5:hover, .lireLarticle6:hover, .lireLarticle7:hover,.lireLarticle8:hover{
    background-color: whitesmoke;
    color: #2eaadd;;
}

.lireLarticle1 p, .lireLarticle2 p, .lireLarticle3 p, .lireLarticle4 p, .lireLarticle5 p, .lireLarticle6 p, .lireLarticle7 p, .lireLarticle8 p{
    padding: 10px 10px 10px 25px;
    font-weight: bold;
}

.chevron1, .chevron2, .chevron3, .chevron4, .chevron5, .chevron6, .chevron7, .chevron8{
    background-image: url("../images/les_actus/chevronBlanc.png");
    background-size: cover;
    width: 17px;
    height: 17px;
    margin: 10px 0 10px 2.5px;
}

#a1ImgContainer {
    width: 50%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background-color: #2eaadd;
}

#a1ImgContent{
    width: 100%;
    height: 100%;
    background-image: url("../images/les_actus/journee-europeennes-patrimoine.png");
    background-position: center;
    background-size: cover;
    transition: transform ease 0.45s;
}

/*
#a1ImgContent:hover{
    transform: scale(1.2);
}*/


#a2ImgContainer {
    width: 50%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background-color: #2eaadd;
}

#a2ImgContent{
    width: 100%;
    height: 100%;
    background-image: url("../images/les_actus/recyclage.png");
    background-position: center;
    background-size: cover;
    transition: transform ease 0.45s;
}

/* #a2ImgContent:hover {
    transform: scale(1.2);
} */


#a3ImgContainer {
    width: 50%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background-color: #2eaadd;
}

#a3ImgContent{
    width: 100%;
    height: 100%;
    background-image: url("../images/les_actus/reduire-sa-consommation-eau.png");
    background-position: center;
    background-size: cover;
    transition: transform ease 0.45s;
}

/* #a3ImgContent:hover {
    transform: scale(1.2);
} */


#a4ImgContainer {
    width: 50%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background-color: #2eaadd;
}

#a4ImgContent{
    width: 100%;
    height: 100%;
    background-image: url("../images/les_actus/appel-a-projet.png");
    background-position: center;
    background-size: cover;
    transition: transform ease 0.45s;
}

/* #a4ImgContent:hover {
    transform: scale(1.2);
} */

#a5ImgContainer {
    width: 50%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background-color: #2eaadd;
}

#a5ImgContent{
    width: 100%;
    height: 100%;
    background-image: url("../images/les_actus/ardecheB.png");
    background-position: center;
    background-size: cover;
    transition: transform ease 0.45s;
}

/* #a5ImgContent:hover {
    transform: scale(1.2);
} */

#a6ImgContainer {
    width: 50%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background-color: #2eaadd;
}

#a6ImgContent{
    width: 100%;
    height: 100%;
    background-image: url("../images/les_actus/consigneTri.png");
    background-position: center;
    background-size: cover;
    transition: transform ease 0.45s;
}

/* #a6ImgContent:hover {
    transform: scale(1.2);
} */

#a7ImgContainer {
    width: 50%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background-color: #2eaadd;
}

#a7ImgContent{
    width: 100%;
    height: 100%;
    background-image: url("../images/les_actus/chateau.jpg");
    background-position: center;
    background-size: cover;
    transition: transform ease 0.45s;
}

/* #a7ImgContent:hover {
    transform: scale(1.2);
} */

#a8ImgContainer {
    width: 50%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    overflow: hidden;
    background-color: #2eaadd;
}

#a8ImgContent{
    width: 100%;
    height: 100%;
    background-image: url("../images/les_actus/laNeuve.jpg");
    background-position: center;
    background-size: cover;
    transition: transform ease 0.45s;
}

/* #a8ImgContent:hover {
    transform: scale(1.2);
} */


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 1600px) {
    .grille{
        grid-template-rows: 0fr 50fr 6fr;
    }
    
    .article{
        height: 8%;
    }
}


@media (max-width: 1520px) {
    .article h1{
        font-size: 26px;
    }

    .article h3{
        font-size: 19px;
    }
}


@media (max-width: 1280px) {

    .grille{
        grid-template-rows: 0fr 40fr 6fr;
    }

    h2{
        font-size: 32px;

    }

    h4{
        font-size: 15.5px;

    }

    .article{

        height: 8%;
        width: 70%;
        margin: 5% 0 5% 0;
    }

    .article h1{
        font-size: 21px;
    }

    .article h3{
        font-size: 15px;
    }

    
}

@media (max-width: 1000px) {

    .grille{
        grid-template-rows: 0fr 18fr 6fr;
    }
}

@media (max-width: 800px) {
    .grille{
        grid-template-rows: 0fr 20fr 6fr;
    }

    #a1{
        margin-top: 8%;
    }

    h2{
        font-size: 30px;
        margin-left: 5%;
    }

    h4{
        font-size: 12px;
        margin-left: 5%;
    }

    hr.solid {
        width: 90%;
    }

    .article{

        height: 7.5%;
        width: 85%;
        margin: 5% 0 5% 0;
    }

    .article h1{
        font-size: 13.5px;
        margin-top: 5px;
    }

    .article h3{
        font-size: 12px;
    }

    .lireLarticle1, .lireLarticle2, .lireLarticle3, .lireLarticle4, .lireLarticle5, .lireLarticle6, .lireLarticle7, .lireLarticle8{
        width: 6em;
        height: 1.3em;
    }

    .lireLarticle1 p, .lireLarticle2 p, .lireLarticle3 p, .lireLarticle4 p, .lireLarticle5 p, .lireLarticle6 p, .lireLarticle7 p, .lireLarticle8 p{
        padding: 2px 0 0 10px;
        font-size: 12px;
    }

    .chevron1, .chevron2, .chevron3, .chevron4, .chevron5, .chevron6, .chevron7, .chevron8{
        width: 14px;
        height: 14px;
        margin: 2px 0 0 5px;
    }
}

@media (max-width: 750px) {
    .grille{
        grid-template-rows: 0fr 13fr 6fr;
    }

    .article{
        margin: 7% 0 7% 0;
    }

    .article h1{
        font-size: 12.5px;
        margin-top: 0px;
    }

    .article h3{
        font-size: 11.5px;
    }

}
