body 
{ 
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    padding: 0;
}

.corps{
    background-color: rgb(255, 255, 255);
}


h2{
    text-align: center;
    text-decoration: underline;
    color: rgb(34, 34, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

hr.solid {
    border-top: 3px solid #333;
    margin-top: 3%;
    margin-left: 10%;
    width: 80%;
}

.arbo{
    padding: 10px;
    display: block;
    justify-content: left;
}

.arbo a :visited{
    color: rgb(0, 0, 0);
    
}

.iframe_container{
    margin: 3%;
    margin-left: 25%;
    width: 50%;
    position: relative;
}

.iframe_container::after{
    content: "";
    display: block;
    width: 100%;
    padding-bottom: calc(315/560*100%);
}

iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

h3{
    margin-left: 10%;
    font-size: 17px;
    color: rgb(34, 34, 34);
}

#gr{
    font-weight: bold;
    color: rgb(34, 34, 34);
}

.article p{
    width: 60%;
    margin-left: 20%;
    text-align: justify;
}

.boxes_container{
    width: 60%;
    margin: 0 auto;
    padding: 3% 0;
    display: flex;
    flex-direction: row;
}

.box{
    width: 50%;
    padding: 3%;
    color: #333;
}

.box img{
    width: 80%;
    display: block;
    margin: 15px auto;
}

.box h4{
    text-align: center;
    font-size: 22px;
}

.box p{
    text-align: justify;
}

@media (max-width: 1280px) {
    .iframe_container{
        margin-left: 15%;
        width: 70%;
    }
    .article p{
        width: 80%;
        margin-left: 10%;
    }
    .boxes_container{
        width: 80%;
    }
    
}

@media (max-width: 800px) {
    .iframe_container{
        margin-left: 5%;
        width: 90%;
    }
    .article p{
        width: 90%;
        margin: auto;
    }
    h3{
        margin-left: 5%;
    }
    hr.solid {
        margin-left: 5%;
        width: 90%;
    }
    .boxes_container{
        width: 90%;
        flex-direction: column;
    }
    .box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .box h4{
        width: 100%;
    }
    .box img{
        width: 250px;
    }
    .box p{
        width: 100%;
        margin: auto;
    }
}