body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
    padding: 0;
}

.corps {
    background-color: whitesmoke;
}

.titreE {
    margin-left: 10%;
}

h2 {
    align-self: flex-start;
    color: rgb(34, 34, 34);
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin-left: 10%;
    margin-top: 2.5%;
}

hr.solid {
    border-top: 3px solid #2eaadd;
    margin-top: 1%;
    margin-left: 10%;
    width: 80%;
}

.arbo {
    padding: 10px;
    display: block;
    width: 100%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.arbo a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.iframe_container {
    margin: 3% 3% 3% 25%;
    width: 50%;
    position: relative;
}

.iframe_container::after {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: calc(315 / 560 * 100%);
}

iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

h3 {
    font-size: 17px;
    color: rgb(34, 34, 34);
    font-family: 'Montserrat', sans-serif;
}

#gr {
    font-weight: bold;
    color: rgb(34, 34, 34);
}

.show {
    padding: 5px;
    color: rgb(34, 34, 34);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 20px;
    text-decoration: none;
}

.showParent {
    margin-top: 20px;
    width: 90px;
}

.article {
    width: 60%;
    margin-left: 20%;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.boxes_container {
    width: 60%;
    margin: 0 auto;
    padding: 3% 0;
    display: flex;
    flex-direction: row;
}

.box {
    width: 50%;
    padding: 30px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.box img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.box h4 {
    font-size: 22px;
}

.box p {
    text-align: justify;
}

@media (max-width: 1280px) {
    .iframe_container {
        margin-left: 15%;
        width: 70%;
    }

    .article {
        width: 80%;
        margin-left: 10%;
    }

    .boxes_container {
        width: 80%;
    }
}

@media (max-width: 800px) {
    .titreE {
        margin-left: 5%;
    }

    .iframe_container {
        margin-left: 5%;
        width: 90%;
    }

    .article {
        width: 90%;
        margin: auto;
    }

    hr.solid {
        margin-left: 5%;
        width: 90%;
    }

    h2 {
        margin-left: 5%;
    }

    .boxes_container {
        width: 90%;
        flex-direction: column;
    }

    .box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 30px;
    }

    .box p {
        width: 100%;
        margin: auto;
    }
}