/*html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}*/

body 
{ 
    width: 100%;
    margin: auto;
    padding: 0;
}

.corps{
    background-color: rgb(158, 228, 228);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:column;
}

footer{
    background-color: rgb(99, 99, 99);
}

.grille{
    display: grid;
    grid-template-rows: 1fr 12fr 10fr 3fr;
    grid-template-columns:0fr 9fr 0fr;
}

#c1{
    position: sticky;
    grid-column: 1/-1;
    top: 0;
    align-self: start;
    opacity: 1;    
}

div.navbar-collapse{
    background-color: #ffb005;
    border-radius: 3px;
    margin-left: 5%;
    margin-right: 5%;
}

.nav-link{
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0.5em 1em 0.5em 1em ;
}

.nav-link:hover{
    text-decoration: underline;
    
}

.d-flex {
    margin: 0.75em 1em 1em 0.75em;
    min-width: 160px;
}

.form-control {
    border-radius: 2px;
}

.bordureBasDroit {
    height: 6em;
    width: 14em;
    background-image: url("../images/logoJauneNavbar.png");
    background-size: cover;
    position: fixed;
    top:65px;
    right: -10px;
}

#c2{
    grid-column: 1/-1;
    background-image: url('../images/privas-ardeche2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#c2 > p{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bolder;
    text-align: center;
    font-size: 60px;
    -webkit-text-stroke: 2px #FFF;
}

#c6{
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#c4 {
    display: grid;
    flex-direction: row;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 4fr 4fr 1fr;
    background-color: rgba(255, 255, 255, 0.719);
}

#a1{
    grid-row-start: 1;
    grid-column-start: 2;
    
}

#a2{
    grid-row-start: 1;
    grid-column-start: 3;
}

#a3{
    grid-row-start: 2;
    grid-column-start: 2;
}

#a4{
    grid-row-start: 2;
    grid-column-start: 3;
}


.foot {
    background-color: rgb(210, 210, 210);
    width: 20%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.logo
{
    height: 80px;
    width: 178px;
    background-image: url('../images/Logo_CA_Privas_Centre_Ardeche.png');
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}


.article{
    background-color: grey;
    height: 70%;
    width: 70%;
    text-align: center;
    margin: auto;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

@media (max-width: 1280px) {
    #c4 {
        display: grid;
        flex-direction: column;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns:4fr;
    }
    
    #a1{
        grid-row-start: 1;
        grid-column-start: 1;
        
    }

    #a2{
        grid-row-start: 2;
        grid-column-start: 1;
    }

    #a3{
        grid-row-start: 3;
        grid-column-start: 1;
    }

    #a4{
        grid-row-start: 4;
        grid-column-start: 1;
    }
    .bordureBasDroit {
        height: 5em;
        width: 11em;
        top: 70px;
        right: -10px;
    }
    

    #c2 > p{
        font-size: 40px;
        -webkit-text-stroke: 1px #FFF;
    }
    
    .grille{
        display: grid;
        grid-template-rows: 0fr 2fr 8fr 2fr;
        grid-template-columns:0fr 9fr 0fr;
    }
    #c6 {
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .foot {
        width: 70%;
        height: 30vh;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}


/*
@media (max-width: 1280px) {
    #c6 {
        grid-column: 1/-1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .foot {
        background-color: greenyellow;
        width: 80%;
        height: 200px;
        text-align: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
*/
/*
.en1clic // les cases en dessous des articles
{
    height: 300px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: darkgrey;
    border: slateblue;

    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;

}
*/


