/*html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}*/

html, body, .corps, .grille {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: auto;
    padding: 0;
    background-color: whitesmoke;
}

.corps {
    background-color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

/*
.corps:hover #a1, #a2, #a3, #a4,
.corps:focus #a1, #a2, #a3, #a4 {
  transform: scale(1.2);
}*/

.grille {
    display: grid;
    grid-template-rows: 0fr 93vh 10fr 4fr;
}

#c1 {
    position: sticky;
    grid-column: 1/-1;
    top: 0;
    align-self: start;
    opacity: 1;
}

#c2 {
    grid-column: 1/-1;
    background-image: url('../images/privas-ardeche2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flecheScroll {
    background-image: url("../images/flècheScroll.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 95px;
    width: 59px;
    margin-bottom: 15px;
    cursor: pointer;
}


#a1 {
    background-image: url("../images/decouvrir_region/kanoe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

#a2 {
    background-image: url("../images/economie.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}

#a3 {
    background-image: url("../images/actus.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#a4 {
    background-image: url("../images/handicap.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

#title {
    width: 640px;
    margin: auto 0;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 250, 240, 0.5);
    border-radius: 10px;
}

h1 {
    color: #2a2a2a;
    font-family: 'Figtree', sans-serif;
    font-size: 50px;
    /*-webkit-text-stroke: 1px #FFF;*/
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


#c3 {
    margin-top: 100px;
    display: grid;
    flex-direction: row;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:1fr 4fr 4fr 1fr;
    background-color: whitesmoke;
}

#a1, #a2, #a3, #a4 {
    z-index: 1;
    position: relative;
    border-radius: 0 5px 5px 5px;
    cursor: pointer;
    /*margin-top: 80px;*/
}


#b1, #b2, #b3, #b4 {
    position: absolute;
    font-size: 27px;
    font-family: 'Montserrat', sans-serif;
    top: -41px;
    left: 0;
    z-index: 2;
    background-color: #92d7ffa8;
    border-radius: 5px 5px 0 0;
}

#b1 > p, #b2 > p, #b3 > p, #b4 > p {
    padding: 4px;
}


#a1 {
    grid-row-start: 1;
    grid-column-start: 2;
}

#a2 {
    grid-row-start: 1;
    grid-column-start: 3;
}

#a3 {
    grid-row-start: 2;
    grid-column-start: 2;
}

#a4 {
    grid-row-start: 2;
    grid-column-start: 3;
}

.article {
    background-color: grey;
    height: 80%;
    width: 90%;
    text-align: center;
    margin: auto;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 1280px) {
    .grille {
        display: grid;
        grid-template-rows: 0fr 93vh 28fr 7fr;
    }

    #c3 {
        display: grid;
        flex-direction: column;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns:4fr;
        margin-top: 130px;
    }

    .article {
        height: 80%;
        width: 70%;
        margin-bottom: 7%;
    }

    #a1 {
        grid-row-start: 1;
        grid-column-start: 1;

    }

    #a2 {
        grid-row-start: 2;
        grid-column-start: 1;
    }

    #a3 {
        grid-row-start: 3;
        grid-column-start: 1;
    }

    #a4 {
        grid-row-start: 4;
        grid-column-start: 1;
    }


    #c2 > h1 {
        font-size: 40px;
        -webkit-text-stroke: 1px #FFF;
    }

}

@media (max-width: 800px) {
    .grille {
        grid-template-rows: 0fr 93vh 12fr 7fr;
    }

    .flecheScroll {
        position: absolute;
        top: 820px;
        left: 46%;
    }

    .article {
        margin-bottom: 70px;
        height: 75%;
    }

    #c3 {
        margin-top: 80px;
    }

    #a4 {
        z-index: 1;
        position: relative;
        background-size: 200% 100%;
        border-radius: 5px;
    }

    #a3 {
        background-size: 100% 140%;
    }

    #b1, #b2, #b3, #b4 {
        position: absolute;
        font-size: 20px;
        top: -28px;
        left: 0px;
        z-index: 2;
    }

    #b1 > p, #b2 > p, #b3 > p, #b4 > p {
        padding: 2px;
    }

    #title {
        width: 370px;
        padding: 10px;
        margin: 10px;
    }

    h1 {
        font-size: 30px;
    }

}

@media (max-width: 800px) {
    .flecheScroll {
        display: none;
    }
}

@media (max-width: 500px) {
    .grille {
        grid-template-rows: 0fr 93vh 12fr 7fr;
    }
}


